<a href="https://colab.research.google.com/github/pranavlm/python-5-days-workshop/blob/master/day2_s2_exe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

In [3]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: pranav
Enter The Salary Of Employee-1: 1542
Enter The Name Of Employee-2: uhygj
Enter The Salary Of Employee-2: 1254
{'pranav': 1542, 'uhygj': 1254}

In [4]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Students: 2
Enter The Name Of Employee-1: pranav
Enter The Salary Of Employee-1: 12546
Enter The Name Of Employee-2: sakaha
Enter The Salary Of Employee-2: 4512
{'sakaha': 4512, 'pranav': 12546}
Sum: 17058
Max: 12546
Min: 4512
Average: 8529.0

In [5]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: pranav
Enter The Salary Of Employee-1: 1548
Enter The Name Of Employee-2: ijuhk
Enter The Salary Of Employee-2: 5455
{}

In [6]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:546
five hundred fourty six